{{!--

This is using an HTML template processor called Handlebars
https://handlebarsjs.com/guide/

--}}
<form id="swd6-config">
	<p>{{localize 'fantasyd6.form.desc'}}</p>

	<section>
		{{#each options}}
		<input id="swd6.{{id}}" name="{{id}}" type="checkbox" {{#if on}}checked{{/if}} />
		<label for="swd6.{{id}}">{{localize desc}}</label>
		{{/each}}
	</section>

	<footer>
		<button class="cancel"><i class="fas fa-times"></i>{{localize 'fantasyd6.form.cancel'}}</button>
		<button class="submit"><i class="fas fa-save"></i>{{localize 'fantasyd6.form.submit'}}</button>
	</footer>
</form>
